/*navbar styles*/
.navbar_first_bg {
    background-color: #9aa5a7;
    height: 2.5rem;
}

a {
    text-decoration: none;
!important;
}

.navbar_first_link {
    color: #fdfaf4 !important;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar_first_link:hover {
    color: black !important;
}

.navbar-brand img {
    margin-right: 0;
    height: 3rem;
    position: absolute;
}

#mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

#mainNav {
    padding-left: 10rem;
    padding-right: 1rem;
    transition: padding-left 0.3s ease-in-out;
}

#mainNav .navbar-brand img {
    position: absolute;
    height: 6rem;
    background: transparent;
    left: 2.75rem;
    top: -0.5rem;
    transition: height 0.3s ease-in-out;
}

#mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}

#mainNav.navbar-shrink {
    padding-left: 6rem;
    transition: padding-left 0.3s ease-in-out;
}

#mainNav.navbar-shrink .navbar-brand img {
    position: absolute;
    height: 3rem !important;
    top: 0.3rem !important;
}

@media (max-width: 1075px) {
    .navbar_first_bg.navbar-expand-lg {
        display: none;
    }

    .navbar-brand img {
        top: 0 !important;
        position: absolute;
        height: 5rem !important;
    }
}

a.main-nav-link {
    display: inline-block;
    position: relative;
    color: black !important;
    margin-left: 1rem;
    margin-right: 1rem;
}

a.main-nav-link::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: black;
    display: block;
    transition: width 0.2s;
}

a.main-nav-link:hover::after {
    width: 100%;
}

.bg-gray {
    background-color: #f7f6f2;
}

.bg-brown {
    color: white;
    background-color: #a88d6f;
}

.bg-gray-dark {
    color: white;
    background-color: #9aa5ab;
}

.bg-black {
    background-color: #222222;
    color: white;
}

.card-img-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    float: left;
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

.card-img-top {
    display: inline-block;
    max-width: 100%;
    width: auto;
    max-height: 100%;
    align-self: center;

}

.goods-img-top {
    height: 20rem;
    padding: 1.5rem;
}

.goods-desc {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0;
}

.goods-action-label {
    margin: 0;
    font-weight: bold;
    align-self: center;
    color: white;
    text-decoration: none !important;
}

.goods-action {
    margin-top: 1.5rem;
    height: 3rem;
}

.product-name {
    height: 3rem;
    text-decoration: underline #a78d6e;
!important;
    color: black;
!important;
}

/*bootstrap customization*/
.btn-brown {
    background-color: #a78d6e;
    color: white;
}

.btn-brown:hover {
    background-color: #98a6a7;
    color: white;
}

.btn-brown:focus, .btn-brown.focus {
    outline: 0;
    background-color: #98a6a7;
    box-shadow: 0 0 0 0.2rem rgba(152, 166, 167, 0.2);
}

.btn-gray {
    background-color: #98a6a7;
    color: white;
}

.btn-gray:hover {
    color: white;
    background-color: #a88d6f;
}

.btn-gray:focus, .btn-gray.focus {
    outline: 0;
    background-color: #a88d6f;
    box-shadow: 0 0 0 0.2rem rgba(168, 141, 111, 0.2);
}

.btn-beige {
    background-color: #f6f5f1;
    color: black;
}

.btn-beige:hover {
    background-color: #98a6a7;
    color: white
}

.btn-beige:focus, .btn-beige.focus {
    color: white;
    outline: 0;
    background-color: #98a6a7;
    box-shadow: 0 0 0 0.2rem rgba(152, 166, 167, 0.2);
}

.btn {
    border-radius: 0;
    padding: .5rem 1rem;
}

.search-btn {
    border: 0;
    background: transparent;
}

.search-input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid black;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.btn-to-catalog {
    width: 16rem;
}

.page-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.page-section h2.section-heading {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 5rem;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.page-section h3.section-subheading {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 4rem;
}

/*showcases styles*/
.showcase-text {
    padding: 3rem;
}

.showcase-img {
    min-height: 50rem;
    background-size: cover;
}

/* Carousel base class */
.carousel {
    margin-bottom: 0;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 50rem;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 50rem;
    object-fit: cover;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-3 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

/* rtl:begin:ignore */
.marketing .col-lg-3 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.marketing {
    min-height: 50rem;
}


.bad-script-font {
    font-family: 'Bad Script', cursive;
}

.montserrat-font {
    font-family: 'Montserrat', sans-serif;
}

.f-3-rem {
    font-size: 3rem;
}

.text-sells {
    font-size: 1.3rem;
    height: 8rem;
    line-height: 1.75;
}

@media screen and (max-width: 1360px ) {
    .text-sells {
        height: 13rem;
    }
}

.nav-links {
    justify-content: space-between;
}

@media screen and (max-width: 990px) {
    .text-sells {
        padding-left: 11rem;
        padding-right: 11rem;
        height: 5rem;
    }

    #mainNav {
        padding-right: 0;
        padding-left: 6rem;
    }

    .nav-links {
        padding-top: 1rem;
    }
}

.carousel-item img {
    filter: brightness(40%);
}

.social-link {
    text-decoration: none;
    color: white;
    margin-right: 0.7rem;
}

.social-link:hover {
    /*color: #a88d6f;*/
    color: black;
}

.search-logo {

}

.search-logo img {
    margin-left: auto;
    margin-right: auto;
    height: 25px;
}

.footer-link {
    text-decoration: none;
    color: white;
}

a.footer-link {
    display: inline-block;
    position: relative;
    color: white !important;
}

a.footer-link::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: white;
    display: block;
    transition: width 0.2s;
}

a.footer-link:hover::after {
    width: 100%;
}

p.contacts {
    cursor: default;
}

.footer-link:hover {
    /*color: #a88d6f;*/
    color: black;
}

.nav-p {
    padding-left: 11rem;
}

.nav-contact {
    margin: 0;
}

.footer-bg {
    background: #9aa5a7;
}

.cursor-default {
    cursor: default;
}

.work-example {
    border-radius: 0;
    border: 0;
    min-height: 30rem;
    min-width: 20rem;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 0 2rem 0 rgba(34, 60, 80, 0.2);
    width: 20rem;
    cursor: pointer;
    transition: transform 0.3s;
}

.work-example:hover {
    transform: scale(1.1);
}

.catalog-product {
    border-radius: 0;
    border: 2px #a78d6e solid;
    min-height: 30rem;
    min-width: 20rem;
    padding-left: 0;
    padding-right: 0;
    width: 20rem;
    cursor: pointer;
    transition: transform 0.3s;
}

.catalog-product:hover {
    box-shadow: 0 0 2rem 0 rgba(34, 60, 80, 0.2);
    transform: scale(1.05);
}

.catalog {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.catalog-categories {
    padding-left: 5rem;
    padding-right: 5rem;
}

.path {
    font-size: 0.8rem;
    cursor: default;
}

.path-nav {
    text-decoration: none;
    font-size: 0.8rem;
    color: #6c757d;
}

.path-nav:hover {
    color: black;
!important;
}

.current-cat {
    text-decoration: underline;
    cursor: default;
}

.category {
    margin-top: 1.5rem;
    width: 15rem;
    font-size: 1.3rem;
}

.product-desc {
    padding: 0 2rem 2rem 1.5rem;
}

.product-card-desc {
    color: black;
    text-decoration: underline #a78d6e
}

.connection-line {
    border-bottom: 1px solid #6c757d;
    opacity: 50%;
    width: 100%;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    height: 0.6rem;
}

.char {
    margin: 0;
    white-space: nowrap;
}

.char-line {
    margin-bottom: 0.5rem;
}

.glue .characteristic {
    display: none;
    color: #6c757d;
    font-size: 0.85rem;
}

.glue:hover .characteristic {
    display: block;
}