<!DOCTYPE html>
{% extends 'base.html' %}

{% block page_title %}О нас{% endblock %}


{% block main_block %}
    <div class="container-fluid page-header">
        <div class="w-100 page-header-underline">
            <h4>О нас</h4>
        </div>
        <div class="row row-cols-1 row-cols-xxl-1 row-cols-xxxl-2 mt-3 about-row">
            <div class="col img-left-col">
                <div class="section-img-1">
                    <img src="/media/freski-ecodecor.jpg" alt="...">
                </div>
            </div>
            <div class="col" style="padding: 1rem">
                <div class="d-flex about-text-box">
                    <p class="about-text" style="text-align: start">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque similique velit
                        voluptatibus! Animi asperiores at, autem blanditiis cum harum inventore iste libero maxime
                        mollitia quod reiciendis soluta suscipit vitae voluptate! Accusantium asperiores, aut commodi
                        distinctio error inventore itaque iure maiores mollitia perferendis reiciendis saepe. Ab autem
                        consectetur corporis delectus earum eveniet, ex harum illum iure laborum neque nesciunt quas
                        quidem soluta sunt? Aut doloribus exercitationem iure nulla officia perferendis saepe.
                    </p>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-xxl-1 row-cols-xxxl-2 mt-3">
            <div class="col" style="padding: 1rem">
                <div class="d-flex about-text-box">
                    <p class="about-text" style="text-align: end">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque similique velit
                        voluptatibus! Animi asperiores at, autem blanditiis cum harum inventore iste libero maxime
                        mollitia quod reiciendis soluta suscipit vitae voluptate! Accusantium asperiores, aut commodi
                        distinctio error inventore itaque iure maiores mollitia perferendis reiciendis saepe. Ab autem
                        consectetur corporis delectus earum eveniet, ex harum illum iure laborum neque nesciunt quas
                        quidem soluta sunt? Aut doloribus exercitationem iure nulla officia perferendis saepe.
                    </p>
                </div>
            </div>
            <div class="col img-right-col">
                <div class="section-img-2">
                    <img src="/media/freski-ecodecor.by2.jpg" alt="...">
                </div>
            </div>
        </div>
    </div>
{% endblock %}