<!DOCTYPE html>
{% extends 'base.html' %}

{% block page_title %}Примеры работ{% endblock %}


{% block main_block %}
    <div class="container-fluid page-header">
        <div class="w-100 page-header-underline">
            <h4>Примеры работ</h4>
        </div>
        <div class="w-100 examples-cards container-fluid">
            <div class="row row-cols-1 row-cols-xxl-2 row-cols-xxxl-3 g-3">
                {% for example in examples %}
                    <div class="col">
                        <div class="card mb-3 example-card example-card-modal" id="{{ example.id }}">
                            <div class="d-flex justify-content-center example-card-img">
                                <img src="/media/{{ example.default_image }}" class="card-img-top" alt="...">
                                <div class="overlay">
                                    <p class="overlay-text">Смотреть проект</p>
                                </div>
                            </div>
                            <div class="card-body example-card-desc d-flex">
                                <p class="card-text example-card-text">
                                    {{ example.name }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog example-modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBody">
                    <div id="carouselExampleIndicators" class="carousel slide example-carousel" data-bs-ride="carousel">
                        <div class="carousel-indicators" id="modalButtons">

                        </div>
                        <div class="carousel-inner example-carousel-inner" id="modalImages">

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}