<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    Главная
{% endblock %}


{% block main_block %}
    <!-- Carousel -->
     <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/media/freski-ecodecor.by2.jpg" alt="">

                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Example headline.</h1>
                        <p>Some representative placeholder content for the first slide of the carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/media/freski-ecodecor.by2.jpg" alt="">

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Another example headline.</h1>
                        <p>Some representative placeholder content for the second slide of the carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/media/freski-ecodecor.by2.jpg" alt="">

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>One more for good measure.</h1>
                        <p>Some representative placeholder content for the third slide of this carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sells -->
    <div class="container marketing" style="min-height: 50rem;">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Фрески</title>
                    <rect width="100%" height="100%" fill="#777"/>
                    <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </svg>

                <h2>Фрески</h2>
                <p>Some representative placeholder content for the three columns of text below the carousel. This is the
                    first column.</p>
                <p><a class="btn btn-secondary btn-gray" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Лепнина</title>
                    <rect width="100%" height="100%" fill="#777"/>
                    <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </svg>

                <h2>Лепнина</h2>
                <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second
                    column.</p>
                <p><a class="btn btn-secondary btn-gray" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Клей</title>
                    <rect width="100%" height="100%" fill="#777"/>
                    <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </svg>

                <h2>Клей</h2>
                <p>And lastly this, the third column of representative placeholder content.</p>
                <p><a class="btn btn-secondary btn-gray" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>

    <!-- Freski 1 row -->
    <div class="container-fluid">
        <div class="row" style="background: #f6f5f1">
            <div class="col-lg-6 showcase-img" style="background-image: url('/media/freski-ecodecor.by2.jpg')"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Fully Responsive Design</h2>
                <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look
                    great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
            </div>
        </div>
    </div>

    <!-- Work examples -->
    <div class="container-fluid my-auto" style="min-height: 50rem;">
        <div class="container d-flex justify-content-center">
            <h1>Примеры работ</h1>
        </div>
        <div class="row d-flex justify-content-center" style="min-height: 50rem;">
            <div class="card bg-gray align-self-center mx-4" style="width: 18rem; max-height: 25rem;">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <div>
                    <img src="/media/freski-ecodecor.by2.jpg" class="card-img-bottom" alt="...">
                </div>
                <div class="w-100 bg-gray-dark" style="min-height: 2rem"></div>
            </div>

            <div class="card bg-brown align-self-center mx-4" style="width: 18rem; max-height: 25rem;">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <div>
                    <img src="/media/freski-ecodecor.by2.jpg" class="card-img-bottom" alt="...">
                </div>
                <div class="w-100 bg-black" style="min-height: 2rem"></div>
            </div>

            <div class="card bg-gray align-self-center mx-4" style="width: 18rem; max-height: 25rem;">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <div>
                    <img src="/media/freski-ecodecor.by2.jpg" class="card-img-bottom" alt="...">
                </div>
                <div class="w-100 bg-gray-dark" style="min-height: 2rem"></div>
            </div>

            <div class="card bg-gray-dark align-self-center mx-4" style="width: 18rem; max-height: 25rem;">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <div>
                    <img src="/media/freski-ecodecor.by2.jpg" class="card-img-bottom" alt="...">
                </div>
                <div class="w-100 bg-brown" style="min-height: 2rem"></div>
            </div>
        </div>
    </div>

    <!-- Lepnina 2 row -->
    <div class="container-fluid">
        <div class="row" style="background: #f6f5f1">
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Fully Responsive Design</h2>
                <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look
                    great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
            </div>
            <div class="col-lg-6 showcase-img" style="background-image: url('/media/freski-ecodecor.by2.jpg')"></div>
        </div>
    </div>

{% endblock %}