<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    Главная
{% endblock %}


{% block main_block %}
    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/media/freski-ecodecor.by2.jpg" alt="" class="carousel-img">

                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Фрески</h1>
                        <p>Заказывайте фрески (надо придумать тексты)</p>
                        <p><a class="btn btn-brown" href="#">Каталог фресок</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/media/freski-ecodecor.by2.jpg" alt="">

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Лепнина</h1>
                        <p>Заказывайте лепнину (придумать текст)</p>
                        <p><a class="btn btn-brown" href="#">Каталог лепнины</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/media/freski-ecodecor.by2.jpg" alt="">

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>Клей</h1>
                        <p>Не нюхайте клей</p>
                        <p><a class="btn btn-brown" href="#">Каталог клея</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sells -->
    <div class="container-fluid marketing page-section">
        <div class="text-center">
            <h2 class="section-heading bad-script-font">Наши каталоги</h2>
        </div>
        <!-- Three columns of text below the carousel -->
        <div class="row d-flex justify-content-evenly">
            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777"/>
                    <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </svg>

                <h4 class="my-4 bad-script-font f-3-rem">Фрески</h4>
                <p class="text-muted text-sells">Some representative placeholder content for the three columns of text below the
                    carousel. This is the
                    first column.</p>
                <p><a class="btn btn-gray" href="#">ПОСМОТРЕТЬ В КАТАЛОГЕ</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777"/>
                    <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </svg>

                <h4 class="my-4 bad-script-font f-3-rem">Лепнина</h4>
                <p class="text-muted text-sells">Another exciting bit of representative placeholder content. This time, we've moved
                    on to the second
                    column.</p>
                <p><a class="btn btn-gray" href="#">ПОСМОТРЕТЬ В КАТАЛОГЕ</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777"/>
                    <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </svg>

                <h4 class="my-4 bad-script-font f-3-rem">Клей</h4>
                <p class="text-muted text-sells">And lastly this, the third column of representative placeholder content.</p>
                <p><a class="btn btn-gray" href="#">ПОСМОТРЕТЬ В КАТАЛОГЕ</a></p>
            </div>
        </div>
    </div>

    <!-- Freski 1 row -->
    <div class="container-fluid">
        <div class="row" style="background: #f6f5f1">
            <div class="col-lg-6 showcase-img" style="background-image: url('/media/freski-ecodecor.by2.jpg')"></div>
            <div class="col-lg-6 my-auto showcase-text" style="padding-left: 12rem; padding-right: 12rem;">
                <h2 style="font-size: 2rem">Fully Responsive Design</h2>
                <p class="lead mb-0" style="margin-top: 2rem; font-size: 1.5rem;">When you use a theme created by Start
                    Bootstrap, you know that the theme will look
                    great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
            </div>
        </div>
    </div>

    <!-- Work examples -->
    <div class="container-fluid my-auto" style="min-height: 50rem;">
        <div class="container d-flex justify-content-center" style="margin-top: 4rem">
            <h1 class="align-self-center bad-script-font f-3-rem">Примеры работ</h1>
        </div>
        <div class="row d-flex justify-content-center" style="margin-top: 4rem">
            <!-- Card 1 -->
            <div class="card bg-gray align-self-center mx-4 mb-3 work-example" style="width: 18rem; max-height: 25rem;">
                <div class="card-body">
                    <p class="card-text text-center fs-6 mt-3" style="text-decoration: underline #a78d6e">Пример #1</p>
                    <div class="d-flex" style="min-height: 10rem">
                        <p class="card-text align-self-center text-center fs-4">ФРЕСКА В СПАЛЬНОЙ КОМНАТЕ В ЖК
                            МИНСК-МИР</p>
                    </div>
                </div>
                <div>
                    <img src="/media/freski-ecodecor.by2.jpg" class="card-img-bottom" alt="...">
                </div>
                <div class="w-100 bg-gray-dark d-flex justify-content-center" style="min-height: 2rem; padding-top: 0.2rem;">
                    <a class="text-white" href="#" style="text-decoration: none">orecle.com</a>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="card bg-brown align-self-center mx-4 mb-3 work-example" style="width: 18rem; max-height: 25rem;">
                <div class="card-body">
                    <p class="card-text text-center fs-6 mt-3" style="text-decoration: underline white">Пример #2</p>
                    <div class="d-flex" style="min-height: 10rem">
                        <p class="card-text align-self-center text-center fs-4">ФРЕСКА В СПАЛЬНОЙ КОМНАТЕ В ЖК
                            МИНСК-МИР</p>
                    </div>
                </div>
                <div>
                    <img src="/media/fresku.jpg" class="card-img-bottom" alt="...">
                </div>
                <div class="w-100 bg-black d-flex justify-content-center" style="min-height: 2rem; padding-top: 0.2rem;">
                    <a class="text-white" href="#" style="text-decoration: none">orecle.com</a>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="card bg-gray align-self-center mx-4 mb-3 work-example" style="width: 18rem; max-height: 25rem;">
                <div class="card-body">
                    <p class="card-text text-center fs-6 mt-3" style="text-decoration: underline #a78d6e">Пример #3</p>
                    <div class="d-flex" style="min-height: 10rem">
                        <p class="card-text align-self-center text-center fs-4">ФРЕСКА В СПАЛЬНОЙ КОМНАТЕ В ЖК
                            МИНСК-МИР</p>
                    </div>
                </div>
                <div>
                    <img src="/media/thumb_l_dec_2011.jpg" class="card-img-bottom" alt="...">
                </div>
                <div class="w-100 bg-gray-dark d-flex justify-content-center" style="min-height: 2rem; padding-top: 0.2rem;">
                    <a class="text-white" href="#" style="text-decoration: none">orecle.com</a>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="card bg-gray-dark align-self-center mx-4 mb-3 work-example" style="width: 18rem; max-height: 25rem;">
                <div class="card-body">
                    <p class="card-text text-center fs-6 mt-3" style="text-decoration: underline white">Пример #4</p>
                    <div class="d-flex" style="min-height: 10rem">
                        <p class="card-text align-self-center text-center fs-4">ФРЕСКА В СПАЛЬНОЙ КОМНАТЕ В ЖК
                            МИНСК-МИР</p>
                    </div>
                </div>
                <div>
                    <img src="/media/freski-ecodecor.jpg" class="card-img-bottom" alt="...">
                </div>
                <div class="w-100 bg-brown d-flex justify-content-center" style="min-height: 2rem; padding-top: 0.2rem;">
                    <a class="text-white" href="#" style="text-decoration: none">orecle.com</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Lepnina 2 row -->
    <div class="container-fluid">
        <div class="row" style="background: #f6f5f1">
            <div class="col-lg-6 my-auto showcase-text" style="padding-left: 12rem; padding-right: 12rem;">
                <h2 style="font-size: 2rem">Fully Responsive Design</h2>
                <p class="lead mb-0" style="margin-top: 2rem; font-size: 1.5rem;">When you use a theme created by Start
                    Bootstrap, you know that the theme will look
                    great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
            </div>
            <div class="col-lg-6 showcase-img" style="background-image: url('/media/freski-ecodecor.by2.jpg')"></div>
        </div>
    </div>

{% endblock %}