<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block page_title %}
        {% endblock %}
    </title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat&family=Roboto:wght@500&display=swap"
          rel="stylesheet">

</head>
<body class="d-flex flex-column h-100">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar_first_bg">
    <div class="container-fluid collapse navbar-collapse">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link navbar_first_link" aria-current="page" href="{% url 'common_app:index' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar_first_link" href="{% url 'catalog_app:catalog' %}">Каталог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar_first_link" href="{% url 'common_app:examples' %}">Примеры работ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar_first_link" href="{% url 'common_app:about' %}">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar_first_link" href="{% url 'common_app:contacts' %}">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Фрески</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Лепнина</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Клей</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


{% block main_block %}

{% endblock %}


<!-- Footer -->
<footer class="footer" style="background: #9aa5a7;">
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold text-white">Ссылки</h6>
                    <hr
                            class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #fcfbf9; height: 2px;opacity: 100;"
                    />
                    <p>
                        <a href="#!" class="text-white">Главная</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Каталог</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Примерыы работ</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">О нас</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Контакты</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold text-white">Каталог</h6>
                    <hr
                            class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #fcfbf9; height: 2px;opacity: 100;"
                    />
                    <p>
                        <a href="#!" class="text-white">Фрески</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Лепнина</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Клей</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold text-white">Контакты</h6>
                    <hr
                            class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #fcfbf9; height: 2px;opacity: 100;"
                    />
                    <p class="text-white fw-bold" style="margin-bottom: 0;">
                        <i class="mr-3" data-feather="map-pin"></i>
                        г. Минск, ТЦ Град, пав. 293
                    </p>
                    <p class="ml-4 text-white" style="font-size: 0.8rem; margin-left: 1.8rem">Вторник – Воскресение: с 9:00 до 18:00
                        <br>
                        Понедельник - выходной</p>
                    <p class="text-white">
                        <i class="mr-3" data-feather="mail"></i>
                        info@example.com
                    </p>
                    <p class="text-white">
                        <i class="mr-3" data-feather="phone"></i>
                        +375 (29) 628-55-08
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)">
        © 2021 Все права защищены
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

<script>
    feather.replace()
</script>
</body>
</html>