<!DOCTYPE html>
{% extends 'catalog/catalog.html' %}


{% block current_cat_name %}
    <h4>Клей</h4>
{% endblock %}


{% block product_desc %}
    <div class="product-desc">
        <p>Описание клея</p>
    </div>
{% endblock %}


{% block product_cards %}
    <div class="col">
        <a class="card catalog-product glue">
            <div class="d-flex justify-content-center goods-img-top">
                <img src="/media/catalog/glue/SOUDAL.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body goods-desc">
                <p class="card-text text-center fs-6 product-card-desc">
                    Герметик акриловый SOUDAL белый (200 мл)
                </p>

                <div class="characteristic">
                    <div class="d-flex justify-content-between char-line">
                        <p class="char">Страна</p>
                        <div class="connection-line"></div>
                        <p class="char">Бельгия</p>
                    </div>
                    <div class="d-flex justify-content-between char-line">
                        <p class="char">Расход</p>
                        <div class="connection-line"></div>
                        <p class="char">30 м.л.</p>
                    </div>
                    <div class="d-flex justify-content-between char-line">
                        <p class="char">Назначение</p>
                        <div class="connection-line"></div>
                        <p class="char">Для лепнины</p>
                    </div>
                </div>

                <div class="bg-gray-dark goods-action d-flex justify-content-center">
                    <p class="goods-action-label">7.00 р.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a class="card catalog-product glue">
            <div class="d-flex justify-content-center goods-img-top">
                <img src="/media/catalog/glue/SOUDAL.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body goods-desc">
                <p class="card-text text-center fs-6 product-card-desc">
                    Герметик акриловый SOUDAL белый (200 мл)
                </p>

                <div class="characteristic">
                    <div class="d-flex justify-content-between char-line">
                        <p class="char">Страна</p>
                        <div class="connection-line"></div>
                        <p class="char">Бельгия</p>
                    </div>
                    <div class="d-flex justify-content-between char-line">
                        <p class="char">Расход</p>
                        <div class="connection-line"></div>
                        <p class="char">30 м.л.</p>
                    </div>
                    <div class="d-flex justify-content-between char-line">
                        <p class="char">Назначение</p>
                        <div class="connection-line"></div>
                        <p class="char">Для лепнины</p>
                    </div>
                </div>

                <div class="bg-gray-dark goods-action d-flex justify-content-center">
                    <p class="goods-action-label">7.00 р.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a class="card catalog-product glue">
            <div class="d-flex justify-content-center goods-img-top">
                <img src="/media/catalog/glue/SOUDAL.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body goods-desc">
                <p class="card-text text-center fs-6 product-card-desc">
                    Герметик акриловый SOUDAL белый (200 мл)
                </p>

                <div class="characteristic">
                    <div class="d-flex justify-content-between char-line">
                        <p class="char">Страна</p>
                        <div class="connection-line"></div>
                        <p class="char">Бельгия</p>
                    </div>
                    <div class="d-flex justify-content-between char-line">
                        <p class="char">Расход</p>
                        <div class="connection-line"></div>
                        <p class="char">30 м.л.</p>
                    </div>
                    <div class="d-flex justify-content-between char-line">
                        <p class="char">Назначение</p>
                        <div class="connection-line"></div>
                        <p class="char">Для лепнины</p>
                    </div>
                </div>

                <div class="bg-gray-dark goods-action d-flex justify-content-center">
                    <p class="goods-action-label">7.00 р.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a class="card catalog-product glue">
            <div class="d-flex justify-content-center goods-img-top">
                <img src="/media/catalog/glue/SOUDAL.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body goods-desc">
                <p class="card-text text-center fs-6 product-card-desc">
                    Герметик акриловый SOUDAL белый (200 мл)
                </p>

                <div class="characteristic">
                    <div class="d-flex justify-content-between char-line">
                        <p class="char">Страна</p>
                        <div class="connection-line"></div>
                        <p class="char">Бельгия</p>
                    </div>
                    <div class="d-flex justify-content-between char-line">
                        <p class="char">Расход</p>
                        <div class="connection-line"></div>
                        <p class="char">30 м.л.</p>
                    </div>
                    <div class="d-flex justify-content-between char-line">
                        <p class="char">Назначение</p>
                        <div class="connection-line"></div>
                        <p class="char">Для лепнины</p>
                    </div>
                </div>

                <div class="bg-gray-dark goods-action d-flex justify-content-center">
                    <p class="goods-action-label">7.00 р.</p>
                </div>
            </div>
        </a>
    </div>
{% endblock %}

