<!DOCTYPE html>
{% extends 'catalog/catalog.html' %}


{% block current_cat_name %}
    <h4>Клей</h4>
{% endblock %}


{% block product_desc %}
    <div class="product-desc">
        <p>Описание клея</p>
    </div>
{% endblock %}


{% block product_cards %}
    {% for glue in glue_list %}
        <div class="col">
            <a class="card catalog-product glue">
                <div class="d-flex justify-content-center goods-img-top">
                    <img src="/media/{{ glue.provider_img }}" class="card-img-top" alt="...">
                </div>
                <div class="card-body goods-desc">
                    <p class="card-text text-center fs-6 product-card-desc">
                        {{ glue.name }}
                    </p>

                    <div class="characteristic">
                        {% if glue.provider_country is not Null %}
                            <div class="d-flex justify-content-between char-line">
                                <p class="char">Страна</p>
                                <div class="connection-line"></div>
                                <p class="char">{{ glue.provider_country }}</p>
                            </div>
                        {% endif %}
                        {% if glue.rate is not Null %}
                            <div class="d-flex justify-content-between char-line">
                                <p class="char">Расход</p>
                                <div class="connection-line"></div>
                                <p class="char">{{ glue.rate }}</p>
                            </div>
                        {% endif %}
                    </div>

                    {% if glue.price is not Null %}
                        <div class="bg-gray-dark goods-action d-flex justify-content-center">
                            <p class="goods-action-label">{{ glue.price }}</p>
                        </div>
                    {% endif %}
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}

